#python-binance==1.0.29
#
pandas==2.2.2
numpy==1.26.4
scikit-learn
optuna
google-cloud-firestore
python-telegram-bot>=20
apscheduler
python-dotenv
requests
firebase-admin
pandas==2.2.2
numpy==1.26.4
scikit-learn
optuna
google-cloud-firestore